body {
    max-width: 50em;
}

#mainContentWrapper {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: stretch;
}

#gameCanvas {
    order: 1;
}

#sidebar {
    margin-left: 1em;
    order: 2;
}

/* Starts hidden, displayed when player presses keybind. */
#buildMenu {
    display: none;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
}

.buildMenuItem span {
    font-weight: bold;
}