body {
    max-width: 50em;
}

#mainContentWrapper {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: stretch;
}

#gameCanvas {
    order: 1;
}

#sidebar {
    margin-left: 1em;
    order: 2;
}